//
// Cards
//

.dashborad-card {
}

.content-card {
  border-radius: $border-radius;
}

.card-big {
  padding: $card-padding;
}

.project-card {
  height: $project-card-image-height;
  border-radius: $border-radius;
}

.card-badge {
  height: max-content;
  margin-top: $card-padding;
}

.count-card {
  border: 2px dashed #d9dfe5;
  border-radius: 1.75rem;
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
  .dashborad-card {
    max-width: $card-width-lg;
  }
}
