//
// Components Config
//


// Cards Max Wdith
$card-width: 50% !default;
$card-width-lg: 100% !default;


// Cards MIn Wdith
$card-min-width: 50% !default;


//Border Raduis

$border-radius: 1.25rem;
